<div class="wrapper">
  <div class="container">
    <ul>
      <li>
        <a routerLink="./">Home</a>
      </li>
      <li>
        <a routerLink="./about">About</a>
      </li>
      <li>
        <a routerLink="./contact">Contact</a>
      </li>
      <li>
        <a routerLink="./feature">Feature</a>
      </li>
      <li>
        <a routerLink="./more">More</a>
      </li>
    </ul>
    <div>
      <!-- <ul>
        <li *ngFor="let img of images">

          <img [src]="img" width="200px" alt="">
        </li>
      </ul> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>
